@import '../../styles/vars.scss';
.categories {
  background: black;
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.categories-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  // flex-basis: content;
}

.category-card {
  max-width: 200px;
  max-height: 250px;
  cursor: pointer;
  .category-card-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
  }

  .category-card-preview {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 20%;
    }
  }
}

.button-settings {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../../assets/svg/settings.svg');
  background-size: 30px 30px;
  margin-right: 0;
  margin-left: auto;
}

.categories-header {
  display: flex;
}

.categories-logo {
  img {
    max-width: 166px;
    display: block;
    margin: 0 auto;
  }
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  // display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  // cursor: pointer; /* Add a pointer on hover */
  .overlay-item {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 20px;
  }
  .close-quiz {
    display: none;
    max-width: 580px;
    width: 90%;
    padding: 2%;
    .close-card-button {
      display: block;
      border: none;
      width: fit-content;
      height: fit-content;
      margin-right: 0;
      margin-left: auto;
    }
    .close-quiz-text {
      width: fit-content;
      margin: 0 auto;
      padding: 5% 20%;

      text-align: center;
    }
  }

  .correct-answer {
    padding: 2%;
  }
}
.close-cared-button {
  color: black;
}

.button-close-quiz-container {
  flex-wrap: nowrap;
}

.standard {
  max-width: 520px;
  // min-height: 80%;
  width: 80%;
  padding: 2%;
  p {
    width: fit-content;
    margin: 0 auto;
    line-height: 1.2;
    text-align: center;
  }
  .answer-picture {
    position: relative;

    img {
      width: 100%;
      border-radius: 20px;
    }
  }
  button {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}

.correct-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  background: url('../../assets/svg/correct-logo.svg');
  background-repeat: no-repeat;
}

.incorrect-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  background: url('../../assets/svg/incorrect-logo.svg');
  background-repeat: no-repeat;
}

.correct-answer-name {
  padding-top: 20px;
  font-weight: 500;
}

.correct-answer-artist {
  padding-bottom: 10px;
  font: $base-font-small;
  font-style: italic;
}

.result {
  // display: none;

  img {
    display: block;
    width: 65%;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .result-congratulations{
    font-weight: bold;
    padding-bottom: 10%;
  }

  .result-score{
    font-size: 50px;
    font-weight: bold;

    padding-bottom: 10%;
  }
}
