@import '../../styles/vars.scss';


.footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: $gap-vert;
  left:0;
  right: 0;
  padding: 0 $gap-gor;

  .footer-text {
    display: flex;
    gap: $footer-gap;

    p {
      font-size: 16px;
    }
  }
}

