@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;700;800&display=swap');

//шрифты
$base-font: 24px 'Khula', sans-serif;
$base-font-small: 16px 'Khula', sans-serif;

$base-font-bold: 700 34px 'Khula', sans-serif;

$artQuiz-font: 700 82px 'Khula', sans-serif;

//цвета

$background: black;
$font-color: white;

$button-hover-color: white;
$button-active-color: #ffbca2;

//отступы
$gap-gor: 20px;
$gap-vert: 10px;
$footer-gap: 42px;
$buttons-gap: 20px;

$logo-padding-top: 35vh;
$logo-padding-bottom: 5vh;
