@import "../../styles/vars.scss";

.button {
  display: inline-block;
  width: 268px;
  height: 56px;
  border: 1px solid $font-color;
  border-radius: 60px;
  background: none;
  font: $base-font;
  color: $font-color
}
