@import '../../styles/vars.scss';

.home {
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.button-container {
  display: block;
  // width: 100%;
  // margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $buttons-gap;
}

.main-logo {
  width: fit-content;
  margin: 0 auto;
  padding-top: $logo-padding-top;
  padding-bottom: $logo-padding-bottom;
}
