@import '../../styles/vars.scss';



.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .close-quiz-button {
    width: fit-content;
    border: none;
  }
  .timer-line {
    height: 5px;
    background: #a4a4a4;
    width: 100%;
    margin: auto 20;
  }
}

.questions-answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  button {
    display: block;
    width: auto;
    // height: auto;
  }
}
