//переменные
@import './styles/vars.scss';
@import './styles/reset.scss';

body {
  color: $font-color;
  font: $base-font;
  overflow: auto;
  background-color: black;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}
.page_container {
}

.container {
  // margin: 0 auto;
  padding: $gap-vert $gap-gor;
  // max-width: fit-content;
}

.hide-page {
  display: none;
}

.button {
  display: inline-block;
  width: 268px;
  height: 56px;
  border: 1px solid $font-color;
  border-radius: 60px;
  background: none;
  font: $base-font;
  color: $font-color;
  &:hover{
    color: black;
    background:$button-hover-color;
  }
  &:active{
    color: black;
    background:$button-active-color;
  }
}

.black-button {
  border: 1px solid black;
  color: black;
}


.run-animation {
  animation: my-animation 2s both;
}
@keyframes my-animation {
  0% { opacity:0; }
  100% { opacity:1; }
}
