//переменные
@import './styles/vars.scss';
@import './styles/reset.scss';

body {
  color: $font-color;
  font: $base-font;
  overflow: auto;
  background-color: black;
  height: 100vh;
}
.page_container{

}

.container {
  // margin: 0 auto;
  padding: $gap-vert $gap-gor;
  // max-width: fit-content;
}

.hide-page {
  display: none;
}
