@import '../../styles/vars.scss';

.settings {
  height: 100vh;
  background-color: black;
}

.setting-button-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0;
  right: 0;
  padding: 0 $gap-gor;
  text-align: center;
  display: flex;
  justify-content: end;
  gap: $buttons-gap;
}

.settings-header {
  border: none;
  width: fit-content;
}
.settings-header::before {
  content: '<';
  position: absolute;
  left: 5px;
}

//settingsVolumeRange
.settingsVolumeRange {
  .settings-volume-title {
    font: $base-font-bold;
  }
  .settings-volume-params {
    padding-top: 10px;
    padding-bottom: 30px;
    max-width: 500px;
    input {
      width: 100%;
      padding: auto $gap-gor;
      margin: 0 auto;
      height: 2px;
    }
    .settings-volume-icons {
      display: flex;
      justify-content: space-between;
    }
  }
}

//settingsTimeGame
.settingsTimeGame {
  .settings-timeGame-title {
    font: $base-font-bold;
  }
  .settings-timeGame-params {
    padding-top: 10px;
    padding-bottom: 30px;
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: $button-active-color;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $button-active-color;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}

// TimeToAnswer
.settings-TimeToAnswer-params {
  padding-top: 10px;
  padding-bottom: 30px;

  button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font: $base-font;
  }
  button:active {
    background-color: $button-active-color;
  }
  input {
    text-align: center;
    width: 50px;
    background: none;
    color: $font-color;
    font: $base-font;
  }
}
.settings-TimeToAnswer-title {
  font: $base-font-bold;
}
