@import '../../styles/vars.scss';

.settings-volume-icons {
  display: flex;

  justify-content: space-between;
}

.settings-volume-params {
  padding-top: 10px;
  padding-bottom: 30px;
  max-width: 500px;
  input {
    width: 100%;
    padding: auto $gap-gor;
    margin: 0 auto;
    height: 2px;
  }
}

.settings-volume-title {
  font: $base-font-bold;
}
