@import '../../styles/vars.scss';

.button-settings {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../../assets/svg/settings.svg');
  background-size: 30px 30px;
  margin-right: 0;
  margin-left: auto;
}

.categories-header {
  display: flex;
}

